<nz-form-item style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">

<nz-card nzTitle="Чат аукциона №{{itemId}}" style="width: 100%;">



    <nz-card style="width: 100%;">
      <nz-card-tab>
        <nz-tabset nzSize="large" [(nzSelectedIndex)]="index2">

          <nz-tab nzTitle="Об аукционе">
            <nz-card nzType="inner" nzTitle="Монтаж свай" [nzExtra]="extraTemplate">
              <a href="">Бухгалтерская отчетность 2022.xls</a> (4.18 МБ)
            </nz-card>

          </nz-tab>

          <nz-tab nzTitle="Ставки">

            <nz-card nzType="" nzTitle="Наиболее выгодное предложение">
              <nz-table [nzShowPagination]="false" [nzData]="bids">
                <thead>
                  <tr>
                    <th *ngFor="let column of listOfColumn" >
                      {{ column.title }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ 1212312 }}</td>
                    <td>{{ "Никита" }}</td>
                    <td>{{ 25000 }}</td>
                    <td>{{ 12.5 }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-card>

            <nz-card nzTitle="Все ставки" style="margin-top: 1rem;">
              <nz-table #sortTable [nzData]="bids" nzTableLayout="fixed">
                <thead>
                  <tr>
                    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                      {{ column.title }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of sortTable.data">
                    <td>{{ data.id }}</td>
                    <td>{{ data.firstNameUser }}</td>
                    <td>{{ data.investmentVolume }}</td>
                    <td>{{ data.entryPercentage }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-card>

          </nz-tab>

          <nz-tab nzTitle="Сделать ставку">
            <div style="width: 100%; text-align: center; display: flex; flex-direction: column; justify-content: center; justify-items: center; align-items: center;">
              <form nz-form [formGroup]="bidForm">
                <nz-form-item>
                  <nz-form-label [nzSpan]="18">Объём инвестиций в TON</nz-form-label>
                  <nz-form-control
                    [nzSpan]="10"
                    nzValidateStatus={{statusValidate}}
                    nzHasFeedback
                    nzValidatingTip="Проверка, подождите..."
                    nzErrorTip="Недостаточно средств"
                  >
                    <input
                      nz-input
                      [(ngModel)]="investmentVolume"
                      formControlName="investmentVolume"
                      (ngModelChange)="OnInputChange()"
                      name="validating"
                    />
                  </nz-form-control>
                </nz-form-item>
            
                <nz-form-item>
                  <nz-form-label [nzSpan]="18">Процент входа в компанию</nz-form-label>
                  <nz-form-control
                    [nzSpan]="10"
                    nzValidateStatus="validated"
                    nzHasFeedback
                    nzValidatingTip="I'm validating the content"
                  >
                    <input
                      nz-input
                      [(ngModel)]="entryPercentage"
                      formControlName="entryPercentage"
                      name="validating"
                    />
                  </nz-form-control>
                </nz-form-item>
            
                <nz-form-item>
                  <nz-form-control>
                    <button nz-button nzType="primary" (click)="OnSendBid()">Сделать ставку</button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>

          </nz-tab>
        </nz-tabset>
      </nz-card-tab>
    </nz-card>


    <div class="chat" style="margin-top: 2rem; height: 300px; overflow: auto;" id="chatDiv">
      <div
      style="
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
      "
    >
    <ng-container *ngFor="let message of chatMessages">
      <div *ngIf="message.userId == userId">
        <nz-comment nzAuthor="{{ message.firstName + ' ' + message.secondName}}" >
          <nz-avatar
            nz-comment-avatar
            nzIcon="user"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          ></nz-avatar>
          <nz-comment-content>
            <p>{{ message.text }}</p>
          </nz-comment-content>
        </nz-comment>
      </div>

    </ng-container>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
        "
      >
        <nz-comment nzAuthor="Никита Глухих" [nzDatetime]="time">
          <nz-avatar
            nz-comment-avatar
            nzIcon="user"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          ></nz-avatar>
          <nz-comment-content>
            <p>
              Я готов вложить 1100 TON и получить 20% долю в капитале компании.
            </p>
          </nz-comment-content>
        </nz-comment>
      </div>
    </div>

    </div>

    <!-- <div style="width: 100%; display: flex; gap: 0.3rem; margin-top: 2rem;">
      <nz-mention
        [nzSuggestions]="suggestions"
        [nzLoading]="loading"
        (nzOnSearchChange)="onSearchChange($event)"
      >
        <textarea
          rows="1"
          nzMentionTrigger
          nz-input
          [(ngModel)]="inputValue"
          placeholder="Введите сообщение"
        ></textarea>
      </nz-mention>
      <button nz-button (click)="OnSendMessage()">
        <span nz-icon nzType="send" nzTheme="outline"></span>
      </button>
    </div> -->

  </nz-card>
  <ng-template #extraTemplate>
    <a routerLink="/item">Подробнее</a>
  </ng-template>



</nz-form-item>
